@import url('https://fonts.cdnfonts.com/css/elora');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin: 15px 5px;
}
.left{
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.container .right{
    background-color: #121111;
    margin-left:6px;
    width: 100vw;
}
.home{
    padding: 15px;
    margin-left: 9px;
}
.home-images{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   padding: 10px 20px;
}
.library{
    height: 67vh;
    margin-left:9px;
}
.library ul li{
    display: flex;
    justify-content: center;
    gap: 9px;
    align-items: center;
}
.library ul{
    display: flex;
    gap: 9px;
}
.add{
    margin-left: 60px;
}
.library-top{
    margin-left: 30px;
    margin-top: 20px;
}
.home ul{
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 0px;
}
.home ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-navbar{

    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card img{
    border-radius: 5px;
    width: 100%;
    object-fit: contain;
}
.cardcontainer{
    overflow-y: auto;
    max-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 30px;
}
.spotifyplaylist > h1{
    margin-left: 30px;
}
.card{
    position: relative  ;
    background-color: #393838;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.signupbtn{
    background-color: #121111;
    color: white;
    border: none;
    font-size: 16px;
    margin-right: 6px;
    padding: 6px 10px;
    cursor: pointer;
}
.signupbtn:hover{
    background-color: #4A90E2;
    color: white;
    border-radius: 15px;
}
.loginbtn{
    background-color: #4A90E2;
    color: white;
    border: none;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 6px;
    padding: 6px 10px;
}
.loginbtn:hover{
    border-radius: 15px;
    font-style: bold;
}
.playbtn{
    position: absolute;
    right: 30px;
    bottom: 120px;
    opacity: 0;
    transition: ease-out 1s;
    cursor: pointer;
}
.card:hover{
    .playbtn{
        right: 30px;
        bottom: 120px;
        opacity: 1;
    }
}
.audioplayer{
    width: 75vw;
    position: fixed;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 10px;
    height: 17vh;
    background-color: #2d3136;
}
.textlogo{
        font-family:'', elora; 
        color: #4A90E2;
        font-size: 30px;
}
.songList ul{
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
}
.songList{
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 30px;
}
.songtime{
    width: 32vw;
}
.songList ul li{
    list-style-type: decimal;
    display:flex;
    justify-content: space-between;
    gap:10px;
    /* height: 100%;
    width: 100%; */
    cursor: pointer;
    padding: 12px  10px;
    border-radius: 6px;
    border: 1px solid white;
}
.seekbar{
  height: 2px;
  width: 95%;
  border: 3px solid ;
  position: absolute;
  bottom: 10px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.circle{
    height: 12px;
    width: 12px;
    border-radius: 11px;
    background-color: rgb(156, 150, 150);
    position: relative;
    bottom: 4.5px;
    left: 0%;
    transition: left 0.5s;
    margin-left: -4px;
}

#play{
    cursor: pointer;
}
.hamburger{
    display: none;
    width: 30px;
}
.volcontrol{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close{
    display: none;
}
.logocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
   }
.library-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.yourlibrary{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.volume{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    
  }
  .card:hover{
    background-color: #585555;
    transition: all 1s;
    cursor: pointer;
  }


@media only screen and (max-width: 1200px) {
    .cardcontainer {
        justify-content: center;
        overflow-y: auto;
        max-height: 60vh;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 20px 30px;
    }
    .widthclass{
        width: 30px;
    }
    .container .nav{
        display: flex;
    }
   .left{
    position: absolute;
    left: -140%;
    transition: all .3s;
    z-index: 1;
    width: 333px;
   }
   .right{
    width: 100vw;
   }
   .close{
    display: flex;
}
.add{
    margin-left: 50px;
}
   .hamburger{
    display: flex;
}
   .audioplayer{
    width:90%;
    bottom: 4px;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
   }
   .volume{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
   }
   .logocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .home-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
}

#next{
    cursor: pointer;
}
#previous{
    cursor: pointer;
}

@media only screen and (max-width: 780px) {
    .card {
        position: relative;
        background-color: #393838;
        width: 86vw;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
}
